In [7]:
# importing libraries to use
import numpy as np
import pandas as pd

Series

In [10]:
#creating a list
data = [10, 20, 30, 40, 50, 60, 70, 80]

#changing the list to a series
sm = pd.Series(data)
sm

0    10
1    20
2    30
3    40
4    50
5    60
6    70
7    80
dtype: int64

In [17]:
#Using an index to pick a value
sm[7]

80

In [13]:
arr = np.array(data)
arr

array([10, 20, 30, 40, 50, 60, 70, 80])

sm2 = arr*2
sm2

In [14]:
sm2 = arr * 2
sm2

array([ 20,  40,  60,  80, 100, 120, 140, 160])

In [18]:
#Changing the index to word
sm3 = pd.Series(arr,index =["Ten", "Twenty", "Thirty", "Forty", "Fifty", "Sixty", "Seventy", "Eighty"])
sm3

Ten        10
Twenty     20
Thirty     30
Forty      40
Fifty      50
Sixty      60
Seventy    70
Eighty     80
dtype: int32

In [25]:
#Alist of sibling's age
age = [12, 12, 8, 7, 6, 2, 1]
#Converting the list to a series
sr = pd.Series(age)
#Changing the index of the series
sr = pd.Series(age,index =["Desire", "Precious", "Caleb", "Elijah", "Kesna", "Gracious", "Kastein"])
sr

Desire      12
Precious    12
Caleb        8
Elijah       7
Kesna        6
Gracious     2
Kastein      1
dtype: int64

DATA FRAME is a collection of different lists
-Rows & Columns

In [30]:
from numpy.random import randn
np.random.seed(256)

#creating the data frame of random numbers havig 6 rows and 4 columns
df = pd.DataFrame(randn(6,4),['Row1','Row2','Row3', 'Row4','Row5','Row6'], ['col1','col2','col3','col4'])
df[['col1','col4']] #subsettig: picked data against column name

          col1      col4
Row1  0.104303 -0.355103
Row2 -0.532822  1.207189
Row3  1.371422  2.689415
Row4 -0.125525 -1.654857
Row5  0.140527  0.063782
Row6  1.352593 -0.159624

In [ ]:
#CREATING A DATA FRAME OF RANDOM NUMBERS
from numpy.random import randn
np.random.seed(123)

#creating the data frame of random numbers havig 2 rows and 2 columns
df2 = pd.DataFrame(randn(2,2),['Row1','Row2'], ['col1','col2'])
df2['col1', 'col2']

In [38]:
df[::-3]

          col1      col2      col3      col4
Row6  1.352593  1.355260  0.976698 -0.159624
Row3  1.371422 -0.673207  1.403908  2.689415

In [39]:
#creating a new column
df['col7'] = df['col1'] + df['col2']
df

          col1      col2      col3      col4      col7
Row1  0.104303 -0.550113 -0.072715 -0.355103 -0.445810
Row2 -0.532822 -0.144523 -0.475807  1.207189 -0.677345
Row3  1.371422 -0.673207  1.403908  2.689415  0.698216
Row4 -0.125525  0.491171 -1.674667 -1.654857  0.365646
Row5  0.140527 -1.568281  0.106287  0.063782 -1.427754
Row6  1.352593  1.355260  0.976698 -0.159624  2.707854

In [42]:
#removing the rows
df.drop('Row3', axis = 0) #

          col1      col2      col3      col4      col7
Row1  0.104303 -0.550113 -0.072715 -0.355103 -0.445810
Row2 -0.532822 -0.144523 -0.475807  1.207189 -0.677345
Row4 -0.125525  0.491171 -1.674667 -1.654857  0.365646
Row5  0.140527 -1.568281  0.106287  0.063782 -1.427754
Row6  1.352593  1.355260  0.976698 -0.159624  2.707854